.news .container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    height: 100%;
    font-size: 34px;
    padding-right: 10px;
    align-items: center;
}
.news .container .arrow{
    opacity: .5;
}
    


