#news{
    display: none;
}
#news .container{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    height: 100%;
    font-size: 12px;
    padding-right: 10px;
    align-items: center;
}
#news .container h1 {
    text-align: center;
}
    


