.gridlayout .Reminders{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: 
    "Title Title"
    "Reminder1 RT1"
    "Reminder2 RT2"
    "Reminder3 RT3";
    grid-template-rows: 55px 55px 55px 55px;
    grid-template-columns: 50px 150px;
    
}

.gridlayout .Title{
    grid-area: Title;
    font-size: 12px;
    padding-left: 5px;
}

.gridlayout .R1{
    grid-area: Reminder1;
    padding-left: 5px;
    font-size: 25px;
    padding-top: 10px;   
}

.gridlayout .R2{
    grid-area: Reminder2;
    padding-left: 5px;
    font-size: 25px;
    padding-top: 10px;  
}

.gridlayout .R3{
    grid-area: Reminder3;
    padding-left: 5px;
    font-size: 25px;
    padding-top: 10px;
}

.gridlayout .RT1{
    grid-area: RT1;
    font-size: 10px;
    margin-top: -5px;
}

.gridlayout .RT2{
    grid-area: RT2;
    font-size: 10px;
    margin-top: -4px;
}

.gridlayout .RT3{
    grid-area: RT3;
    font-size: 10px;
    margin-top: -4px;
}
