#weather{
    display: none;
}
#gridlayout .WeatherWid{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-areas: 
    "Location Picture"
    "Celcius Celcius"
    "Celcius Celcius";
    grid-template-rows: 73px 73px 73px;
    grid-template-columns: 120px 80px;
}

#gridlayout .City{
    grid-area: Location;
    font-size: 17px;
    text-align: left;
    padding-left: 4px;
}

#gridlayout .PC{
    grid-area: Picture;

}

#gridlayout .CC{
    grid-area: Celcius;
    font-size: 18px;
    text-align: left;
    padding-left: 4px;
    padding-top: 42px;
}

.WH{
    
    text-align: start;
    margin-top: -9px;
}

.CC-text{
    margin-bottom: 0px;
}